@page
@model IndexModel
@{
    ViewData["Title"] = "HR System Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Employees</h2>
    @foreach (var employee in Model.Employees)
    {
        <p><a href="/Details?id=@employee.Id">[@employee.Id] @employee.FirstName @employee.LastName</a></p>
    }

</div>
